@using ChessKing.Models.DataStructures.GameTree
@using ChessKing.Models
@using ChessazorMaui.Components.Pages

<span class="move-tree-item" @onclick="clicked">
    @((white ? $"{move}. " : "") + (node.getPgn() == "x" ? "start" : node.getPgn()))
</span>

@if (node.Children.Count >= 2)
{
    var copyHead = node.Children.Head;
    @for (int i = 1; i < node.Children.Count; i++)
    {
        copyHead = copyHead.Next;

        <span>(</span>
        <MovesButton node="copyHead.Data" board="board" move="@(white? move:move+1)" white="!white" update="update"></MovesButton>
        <span>)</span>
    }

}

@if (node.Children.Head != null)
{
    <MovesButton node="node.Children.Head.Data" board="board" move="@(white? move:move+1)" white="!white" update="update"></MovesButton>
}

@code {
    [Parameter]
    public GameTreeNode node { get; set; }

    [Parameter]
    public Board board { get; set; }

    [Parameter]
    public EventCallback update { get; set; }

    [Parameter]
    public int move { get; set; }

    [Parameter]
    public bool white { get; set; }

    async void clicked()
    {
        board.SetActivePosition(node);
        Home.whiteTime = 30;
        Home.blackTime = 30;
        await update.InvokeAsync();
    }
}
